.title,
.categoryTitle {
  color: white;
}

.categoryData {
  display: grid; /* Use Grid layout */
  gap: 16px; /* Space between grid items */
  grid-auto-rows: auto;

  &.tracks {
    grid-template-columns: repeat(5, 1fr);
  }

  &.artists {
    grid-template-columns: repeat(4, 1fr);
  }
}
.searchResultsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  background-color: #121212;
  border-radius: 16px;
  padding: 20px;
  overflow-y: auto;
}
