.coverArt {
  border-radius: 16px;
}

.trackInfo {
  display: flex;
  flex-direction: column;

  .trackName {
    font-size: 14px;
    font-weight: 600;
    color: white;
    line-height: 1;
    margin: 8px 0 0;

    white-space: nowrap; /* Prevents wrapping */
    overflow: hidden; /* Hides overflow content */
    text-overflow: ellipsis; /* Adds ellipsis to overflow */
  }

  .albumInfo {
    display: flex;
    align-items: center;
    gap: 8px;

    .artistName {
      font-size: 12px;
      color: #b3b3b3;
      margin: 8px 0 0;
      white-space: nowrap; /* Prevents wrapping */
      overflow: hidden; /* Hides overflow content */
      text-overflow: ellipsis; /* Adds ellipsis to overflow */
    }
  }
}
