.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px;
  width: 100%;
  background: var(--spotify-dark-gray);
  border-radius: 16px;
}

.tray {
  overflow: hidden;
}

.subComponentWrapper {
  padding-left: 32px;
}
