.trackButton {
  background: none;
  border: none;
  padding: 0;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.trackContainer {
  background-color: var(--spotify-light-gray);
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 120px; /* Ensure items don't grow beyond 200px */
  width: 100%; /* Let items use available space up to max-width */
  margin: 0 auto;

  .coverArtContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    .coverArt {
      border-radius: 8px;
    }
  }
}
.trackInfo {
  display: flex;
  flex-direction: column;

  .trackName {
    font-size: 14px;
    font-weight: 600;
    color: var(--white);
    line-height: 1;
    margin: 8px 0 0;

    white-space: nowrap; /* Prevents wrapping */
    overflow: hidden; /* Hides overflow content */
    text-overflow: ellipsis; /* Adds ellipsis to overflow */
  }

  .albumInfo {
    display: flex;
    align-items: center;
    gap: 8px;

    .divider {
      margin: 8px 0 0;
      color: var(--white);
    }

    .artistName {
      font-size: 12px;
      color: var(--spotify-gray);
      margin: 8px 0 0;
      white-space: nowrap; /* Prevents wrapping */
      overflow: hidden; /* Hides overflow content */
      text-overflow: ellipsis; /* Adds ellipsis to overflow */
    }

    .albumReleaseDate {
      font-size: 12px;
      color: var(--spotify-gray);
      margin: 8px 0 0;
    }
  }
}
