.container {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px; /* Modern way to add spacing between flex items */
  padding-top: 8px;
}

.input {
  padding: 15px;
  border: none; /* Remove the border */
  border-radius: 12px;
  flex: 0.8;
  background-color: var(
    --spotify-light-gray
  ); /* Add this to maintain visual distinction */
  color: white; /* Add this to ensure text is visible */
  outline: none; /* Remove the focus outline */
}

.searchButton {
  padding: 15px;
  border: none;
  border-radius: 12px;
  background-color: var(
    --spotify-light-gray
  ); /* Add this to maintain visual distinction */
  color: white; /* Add this to ensure text is visible */
  flex: 0.2; /* Takes up remaining 30% of the space */
}
