.sideTrayContainer {
  display: flex;
  background-color: var(--spotify-dark-gray);
  flex-direction: column;
  padding: 20px;
  border-radius: 16px;

  .buttonContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
  }
}
